{% extends "base2.html" %}
{% load static %}
{% block content %}
        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
        <div class="mdc-card py-2">
         <div class="d-flex justify-content-between align-items-center">
            <h1 class="card-title mb-0 modal-title">Product Variant</h1>
        </div>
        </div>
        </div>


        <form action="{% url 'records:product_variant' %}" id="form" method="post" >
             {% csrf_token %}
              <input type="hidden" name="id">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group mb-3">

                        <label for="product_name" class="control-label">Product Name</label>
                        <select type="text" name="product_name" id="product_name" placeholder="" class="form-control form-control-sm rounded-0" value="" required>
                            <option  value="" disabled selected>-select-product-</option>
                            {% for name in product_list%}
                            <option value="{{name.product_id}}">{{name.product_name}}</option>
                            {%endfor%}
                        </select>
                       </div>
                    </div>

                     <div class="col-4">
                        <label >Unit Size</label>
                        <input type="number" name="unit_size" id="unit_size" placeholder="" class="form-control form-control-sm rounded-0" value="" required>
                    </div>


                    
                      <div class="col-4">
                        <div class="form-group mb-3">
                        <label class="control-label">Units</label>
                        <input type="text" name="units" id="units" placeholder="" class="form-control form-control-sm rounded-0" value="" required>
                    </div>
                 </div>



            

                  <div class="d-flex justify-content-center button-container form-group mb-3">
                 <center><button type="submit" class="btn btn-secondary me-2">Save</button></center><br>
                  <center><button type="reset" class="btn btn-primary">Cancel</button></center>
                </div>
            </div>
            
      
        </form>
   
              
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card py-2">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="card-title mb-0">Product List</h4>

            <div class="text-start">
            
            </div>
    
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card">
        <div class="table-responsive">
            <table class="table table-striped table-bordered" id="example" border="8">
                <colgroup>
                    <col width="15%">
                    <col width="20%">
                    <col width="10%">
                    <col width="10%">
                  
                    
                </colgroup>
                <thead>
                    <tr>
                      <th class="text-left py-1">Product Id</th>
                        <th class="text-center py-1">Product Name</th>
                        <th class="text-center py-1">Unit Size</th>
                       
                        <th class="text-center py-1">Units</th>
                       
                    </tr>
                </thead>
                <tbody>
                  {% for product in products%}

                  <tr>
                    <td class="px-2 py-1 text-center">{{product.product_var_id}}</td>
                   <td class="px-2 py-1 text-left">{{product.product.product_name}}</td>
                   <td class="px-2 py-1 text-left">{{product.unit_size}}</td>
                    <td class="px-2 py-1 text-left">{{product.unit}}</td>
                    
                    </tr>
                    {%endfor%}
                    
                </tbody>
            </table> 
         </div>
    </div>
</div>
           
{%endblock content%}