{% extends "base2.html" %}
{% load static %}
{% block content %}

  
       
        
        <div class="modal-header">
            <center><h1 class="modal-title">Our Sales</h1></center>
        </div>

 <div class="container-fluid">
        <form action="{% url 'records:sales' %}" id="form" method="post" class="form-group">
             {% csrf_token %}
             <input type="hidden" name="id">
                <div class="row">
                     <div class="col-4">
                        <div class="form-group mb-3">
                        <label for="date" class="control-label" >Date</label>
                        <input type="date" name="date" id="date" placeholder="" class="form-control form-control-sm rounded-0" value="" required>
                        </div>
                    </div>


                    <div class="col-4">
                        <div class="form-group mb-3">

                        <label for="product_name" class="control-label">Product Name</label>
                        <select type="text" name="product_name" id="product_name" placeholder="" class="form-control form-control-sm rounded-0" value="" required>
                            <option  value="" disabled selected>-select-product-</option>
                            {% for name in product%}
                            <option value="{{name.product_id}}">{{name.product_name}} :{{name.units}}</option>
                            {%endfor%}
                        </select>
                       </div>
                    </div>

                     <div class="col-4">
                        <div class="form-group mb-3">

                        <label for="quantity" class="control-label">Quantity</label>
                        <input type="number" name="quantity" id="quantity" placeholder="" class="form-control form-control-sm rounded-0" value="" required>
                        </div>
                    </div>


                      <div class="col-4">
                        <div class="form-group mb-3">

                        <label for="cost" class="control-label" >Cost</label>
                        <input type="number" name="cost" id="cost" placeholder="" class="form-control form-control-sm rounded-0" value="" required>
                        </div>
                        </div>

                        <div class="col-4">
                        <div class="form-group mb-3">

                        <label for="cost" class="control-label" >Status</label>
                        <select type="text" name="status" id="status" placeholder="" class="form-control form-control-sm rounded-0" value="" required>
                            <option value="Cash">Cash</option>
                            <option value="Credit">Credit</option>
                        </select>
                        </div>
                        </div>

                    

                     <div class="col-4">
                        <div class="form-group mb-3">

                        <label for="product_name" class="control-label">Seller</label>
                        <select type="text" name="user" id="user" placeholder="" class="form-control form-control-sm rounded-0" value="" required>
                            <option  value="" disabled selected>-select-seller-</option>
                            {% for name in user_list%}
                            <option value="{{name.user_id}}">{{name.full_name}}</option>
                            {%endfor%}
                        </select>
                       </div>
                    </div>


                     <div class="col-4">
                        <div class="form-group mb-3">

                        <label for="description" class="control-label">Description</label>
                        <input type="text" name="description" id="description" placeholder="" class="form-control form-control-sm rounded-0" value="" required>
                    </div>
                    </div>

                 
                        
                 <div class="d-flex justify-content-center button-container form-group mb-3">
                 <center><button type="submit" class="btn btn-secondary me-2">Save</button></center><br>
                  <center><button type="reset" class="btn btn-primary">Cancel</button></center>
                </div>
                </div>
        </form>

        <!-- <p>Total Cash Sales: {{total_cash_sales}}</p>
        <p>Total Credit Sales: {{total_credit_sales}}</p> -->

                   
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card py-2">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="card-title mb-0">Sales List</h4>

            <div class="text-start">
            
            </div>
    
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card">
        <div class="table-responsive">
            <table class="table table-striped table-bordered" id="example" border="8">
                <colgroup>
                    <!-- <col width="5%"> -->
                    <col width="15%">
                    <col width="15%">
                    <col width="20%">
                    <col width="25%">
                    <col width="5%">
                    <col width="5%">
                    <col width="10%">
                    
                    
                    
                </colgroup>
                <thead>
                    <tr>
                      <!-- <th class="text-left py-1">Product Id</th> -->
                        <th class="text-center py-1">Date</th>
                        <th class="text-center py-1">Product Name</th>
                         <th class="text-right py-1">Seller</th>

                        <th class="text-left py-1">Description</th>
                      <th class="text-left py-1">Status</th>
                        <th class="text-center py-1">Quantity</th>
                        <th class="text-right py-1">Cost</th>
                         <th class="text-right py-1">Total Cost</th>
                         <th class="text-right py-1">Total Cash Sales</th>
                         <th class="text-right py-1">Total Credit Sales</th> 
                        
                       
                
                    </tr>
                </thead>
                <tbody>
                  {% for product in sales_list%}

                  <tr>
                    <!-- <td class="px-2 py-1 text-center">{{product.id}}</td> -->
                    <td class="px-2 py-1 text-center">{{product.date}}</td>
                   <td class="px-2 py-1 text-left">{{product.product.product_name}}:{{product.product.units}}</td>
                    <td class="px-2 py-1 text-right">{{product.user.full_name}}</td>
                    <td class="px-2 py-1 text-left">{{product.description}}</td> 
                     <td class="px-2 py-1 text-left">{{product.status}}</td> 
                    <td class="px-2 py-1 text-right" style="text-align: right;">{{product.quantity}}</td>
                     <td class="px-2 py-1 text-right" style="text-align: right;">{{product.cost}}</td>
                     <td class="px-2 py-1 text-right" style="text-align: right;">{{product.total_cost}}</td>
                     <!-- <td class="px-2 py-1 text-left">{{total_cash_sales}}</td> 
                     <td class="px-2 py-1 text-left">{{total_credit_sales}}</td> 
                       -->
                    </tr>
                    {%endfor%}
                    
                </tbody>
                <tfoot>
                    <tr style="font-weight: bold;">
                        <td colspan="8" style="text-align: right;">TOTAL</td>
                        <td>{{total_cash_sales}}</td>
                         <td>{{total_credit_sales}}</td>

                    </tr>
                </tfoot>
            </table>                          
{%endblock content%}