types-pytz==2024.2.0.20240913
types-pywin32==308
types-pyxdg==0.28
types-PyYAML==6.0
types-qrbill==1.1
types-qrcode==8.0
types-regex==2024.11.6
types-reportlab==4.2.5
types-requests==2.32
types-requests-oauthlib==2.0
types-retry==0.9
types-RPi.GPIO==0.7
types-s2clientprotocol==5
types-seaborn==0.13.2
types-Send2Trash==1.8
types-setuptools==75.6
types-shapely==2.0
types-simplejson==3.19
types-singledispatch==4.1
types-six==1.17
types-slumber==0.7
types-str2bool==1.1
types-tabulate==0.9
types-tensorflow==2.18.0
types-TgCrypto==1.2
types-toml==0.10
types-toposort==1.10
types-tqdm==4.67
types-translationstring==1.4
types-tree-sitter-languages==1.10
types-ttkthemes==3.2
types-ujson==5.10
types-unidiff==0.7
types-untangle==1.2
types-usersettings==1.1
types-uWSGI==2.0
types-vobject==0.9.9
types-waitress==3.0.1
types-WebOb==1.8
types-whatthepatch==1.0
types-workalendar==17.0
types-WTForms==3.2.1
types-wurlitzer==3.1
types-xdgenvpy==3.0
types-xmltodict==0.14
types-zstd==1.5
types-zxcvbn==4.4
typing_extensions==4.13.2
tzlocal==5.3.1
u-msgpack-python==2.8.0
uc-micro-py==1.0.3
ufoLib2==0.17.1
ujson==5.10.0
unicodedata2==15.1.0
unicrypto==0.0.10
Unidecode==1.4.0
uritemplate==4.1.1
urllib3==2.3.0
urlscan==1.0.3
urwid==2.6.16
userpath==1.9.2
uvicorn==0.32.0
uvloop==0.21.0
validators==0.20.0
venusian==3.1.1
vine==5.1.0
virtualenv==20.30.0
wadllib==2.0.0
wafw00f==2.3.1
wapiti3==3.0.4
wcwidth==0.2.13
weasyprint==62.3
webargs==8.7.0
webcolors==1.13
webencodings==0.5.1
WebOb==1.8.9
websocket-client==1.8.0
websockets==15.0.1
websockify==0.12.0
Werkzeug==3.1.3
wfuzz==3.1.0
wheel==0.46.1
wifite==2.7.0
winacl==0.1.9
wrapt==1.15.0
wsaccel==0.6.3
wsproto==1.2.0
WTForms==3.2.1
xdg==5
xlrd==2.0.1
XlsxWriter==3.1.9
xlutils==2.0.0
xlwt==1.3.0
xmltodict==0.13.0
yara-python==4.5.1
yarl==1.19.0
yaswfp==0.9.3
zc.lockfile==3.0.post1
zenmap==7.95
zipp==3.21.0
zlib-wrapper==0.1.3
zombie-imp==0.0.3
zope.deprecation==5.1
zope.event==5.0
zope.interface==7.2
zopfli==0.2.3.post1
zstandard==0.23.0